.carouselExampleDark{
    width: 100px;

}
img {

    width: 500px;
    height:300px;
    align-content: center;

}
div .carouselExampleDark{
    align-content: center;
    height: 50px;
}
body {
    background-color: bisque;
    color: aliceblue;
    
